 /* NOTE: the order of these styles DO matter */

 /* Will edit everything selected including everything between a range of dates */
.CalendarDay__selected_span {
   /* background */
  background: #e6f7ff;
  /* text */
  color: white; 
  /* $light-red; //default styles include a border */
  border: 1px solid #91d5ff;
}

/* / Will edit selected date or the endpoints of a range of dates */
.CalendarDay__selected {
  background:#91d5ff;
  color: white;
}

 /* Will edit when hovered over. _span style also has this property */
.CalendarDay__selected:hover {
  background: #91d5ff;
  color: white;
}

 /* Will edit when the second date (end date) in a range of dates */
 /* is not yet selected. Edits the dates between your mouse and said date */
.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span {
  background:#69c0ff;
}